# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Angular cache
/.angular/cache

# IDEs and editors
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs and misc
npm-debug.log*
yarn-error.log
/coverage
*.log

# System files
.DS_Store
Thumbs.db
