

<espd-header [fullWidth]="true" subtitle="Indiana University" [user]="{username:'thrclark', initials:'TC'}" />


<espd-shell [collapsible]="true">
  <espd-shell-sidebar>
    <espd-sidenav label="Navigation">
      <espd-sidenav-item route="/dashboard"><i [espdIcon]="'rvt-grid'"></i> Dashboard</espd-sidenav-item>
      <espd-sidenav-item route="/announcements"><i [espdIcon]="'rvt-megaphone'"></i> Announcements</espd-sidenav-item>
      <espd-sidenav-item route="/events-calendars"><i [espdIcon]="'rvt-calendar'"></i> Events & Calendars</espd-sidenav-item>
      <espd-sidenav-item route="/directory"><i [espdIcon]="'address-book'"></i> Directory</espd-sidenav-item>
      <espd-sidenav-item route="/maps"><i [espdIcon]="'rvt-map-pin'"></i> Maps</espd-sidenav-item>
    </espd-sidenav>
  </espd-shell-sidebar>

  <espd-shell-stage>

    <div>
      <h2>{{ message }}</h2>

      <espd-button (click)="updateMessage()">Click Me</espd-button>
    </div>

  </espd-shell-stage>
  Any other content won't be displayed
</espd-shell>

<espd-footer [customFooterOverride]="'Copyright © 2026'" />
