$font-family-sans-serif: var(--font-body);
$gray-150              : #EAEAEA;

@import "../node_modules/espd-common/styles/variables.scss";

$font-family-body  : $font-family-sans-serif;
$font-family-header: var(--font-header);
$font-size-body    : 1rem;
$body-background   : var(--body-bg-color);
$body-font-color   : var(--body-text-color);
$panel-background  : var(--panel-bg-color);
$panel-color       : var(--panel-text-color);
